
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:wght@400;700&display=swap');
  
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&family=Roboto:wght@400;700&display=swap');


*{
    padding: 0px;
    margin: 0px;
}

img{
    max-width: 100%;
    display: block;
}

body{
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: 0 auto;
}

.h2-1{
    color: #23272A;
    font-family: "Luckiest Guy";
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.h2-2{
    color: #23272A;
    font-family: "Open Sans";
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.p-1{
    color: #FFF;
    text-align: center;
    font-family: "Open Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.p-2{
    color: #23272A;
    font-family: "Open Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.p-3{
    color: #23272A;
    text-align: center;
    font-family: "Open Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.h-i-text1{
    color: #FFF;
    text-align: center;
    font-family: "Luckiest Guy";
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header{
    display: flex;
    max-width: 100vw;
    height: 459px;
    background: url(../img/Header\ Background.png), lightgray 50% / cover no-repeat;
    justify-content: center;
}

.h-info{
    width: 757px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.h-i-button{
    display: flex;
    flex-direction: rows;
    gap: 1rem;
}

.h-i-button1{
    width: 281px;
    height: 44px;
    border:1px solid #FFF;
    border-radius: 28px;
    background: #FFF;
    cursor: pointer;
}

.h-i-button2{
    width: 281px;
    height: 44px;
    border:1px solid #23272A;
    border-radius: 28px;
    background: #23272A;
    cursor: pointer;
}

.m-section{
    display: flex;
    flex-direction: rows;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2.5rem 0px;
}

.m-s-img{
    width: 607px;
    height: 394px;
}

.m-s-text{
    width: 348px;
    height: auto;
}

.m-s-text1{
    width: 608px;
    padding: 1rem;
}

.m-s-text2{
    width: 802px;
}

.m-section1{
    display: flex;
    flex-direction: row-reverse;
    background: #F6F6F6;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2.5rem 0px;
   
}

.m-section2{
    display: flex;
    flex-direction: column;
    background: #F6F6F6;;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 0px;
}

.footer{
    display: flex;
    max-width: 100vw;
    height: 90px;
    padding: 35px 0px 36px 0px;
    justify-content: center;
    align-items: center;
    background: #23272A;

}

.f-picture{
    width: 230px;
    height: 63px;
    flex-shrink: 0;
}


@media (max-width:890px){

   

    .h-i-mobi{
        max-width: 550px;
    }

.h-i-text1{
    text-align: left;
}

.p-1{
    text-align: left;
}

.h-i-button{
    flex-direction: column;
}

.m-section, .m-section1{
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
    margin: 0;

}

.m-s-text{
    padding-bottom: 1rem;
    max-width: 550px;
}

.m-s-text1, .m-s-text2{
    max-width: 550px;
    height: auto;
}

.h2-1{
    text-align: left;
}

.p-3{
    text-align: left;
}

.m-s-img{
    max-width: 550px;
    height: auto;
}

}

@media (max-width:570px){

   

    .h-i-mobi{
        max-width: 381px;
    }

.h-i-text1{
    text-align: left;
}

.p-1{
    text-align: left;
}

.h-i-button{
    flex-direction: column;
}

.m-section, .m-section1{
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
    margin: 0;

}

.m-s-text{
    padding-bottom: 1rem;
    max-width: 374px;
}

.m-s-text1, .m-s-text2{
    max-width: 378px;
    height: auto;
}

.h2-1{
    text-align: left;
}

.p-3{
    text-align: left;
}

.m-s-img{
    max-width: 379px;
    height: auto;
}

}


